body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

/*fake content*/
.main_header {
    height: 60px;
}

.jumbotron {
    height: 200px;
}

.portfolio {
    height:250px;
}

.box {
    width: 100%;
    background-color: #EDB586;
    margin-bottom: 15px;
}

.about {
    height: 180px;
}

.contactme {
    height: 200px;
}

.footer_top {
    height: 100px;
}

.footer_bottom {
    height: 60px;
}

/*Colours*/
.tealblue {
    background-color: #2c3e50;
}

.tealbluea {
    background-color: #3c5b7a;
}

.aquamarine {
    background-color: #18bc9c;
}



@media screen and (min-width: 768px) {
    .main_header {
        height: 100px;
    }
    
    .jumbotron {
        height: 250px;
    }
    
    .portfolio {
        height: 300px;
    }
    
    .about {
        height: 330px;
    }
    
    .contactme {
        height: 250px;
    }
    
    .footer_top {
        height: 150px;
    }
    
    .footer_bottom {
        height: 90px;
    }
}



@media screen and (min-width: 992px) {
    .main_header {
        height: 150px;
    }
    
    .jumbotron {
        height: 300px;
    }
    
    .portfolio {
        height: 350px;
    }
    
    .about {
        height: 380px;
    }
    
    .contactme {
        height: 300px;
    }
    
    .footer_top {
        height: 200px;
    }
    
    .footer_bottom {
        height: 140px;
    }
}